header.top-header {
    background: black;
    width: 100%;
    height: fit-content;

}

b{
    color: black;
}

div.row.pos {

    background: #121212;
    width: 100%;
    height: fit-content;
    position: fixed;
}



/* MỚI! để lấy khoảng cách giữa 2 col-auto*/
.pos {
    justify-content: space-between !important;
    /*  */

}

.row.pos {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;

    position: relative;


}

.logo-bg {
    padding: 30px 0 30px 30px;
}

.nav-item {
    position: relative;
}



.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;

    font-size: .75em;
    position: relative;
    padding: 30px 13px;
    color: #fff;
    letter-spacing: 2.5px;

}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #CA9F5C;
}


.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #CA9F5C;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #CA9F5C;
}


/* chỉnh sửa từ "<span class="badge rounded-pill text-bg-warning">Warning</span>" để phù hợp yêu cầu */
/* toàn bộ được lấy và chỉnh sửa từ "<span class="badge rounded-pill text-bg-warning">Warning</span>" */
.hot-badge {
    background-color: #c49449 !important;
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10%;

}






div.banner {
    background: url(../images/hero2.jpg);
    background-size: 100%;


}

.tt {
    margin-left: 100%;
    margin-right: 100%;
    margin-top: 100%;
}

.logo2 {
    margin-left: 30%;
    margin-right: 100%;
    margin-top: 100%;
    display: inline-block;

}

h2 {
    margin-top: 15px;
    color: #FFFFFF;
}

h4 {
    text-align: center;
    color: #FFFFFF;
}

.photor {
    margin-top: 18%;
    vertical-align: bottom;
}

.title-heading {
    text-align: center;
    color: #000;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;
    
}
h2.textt{
    color: black;

    margin-bottom: 15px;

    justify-content: center;

    text-decoration: none;
}



div.title-heading h2{
    color: #000;
}
i.cl{
    color: #CA9F5C;;
    font-style: normal;
}
 div.PW{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    font-size: 0.875rem;
    color: #495057;
    line-height: 2;
    text-rendering: auto;

 }
 .tt2{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;
    
 }

 .title-f{
    color: #c49449;
    font-size: 1.5em;
    margin-bottom: 15px;
    
    
 }

 .box1{
    display: inline-block;
    padding: 40px 0;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    text-align: center;
    margin-right: 2.5%;
    margin-left: 5%;
    

 }

 *{
    transition: all 0.3s ease 0s;    
}
.text p{
    padding-left: 16.666667%;
    padding-right: 16.666667%;
}
#name1{
    border: 1px solid rgba(173, 181, 189, 0.3);
    width: 100%;
    padding: 2% 6%;
}
.subcribe span{
    border-radius: 6px;
    margin-top: 11%;
    background: #CA9F5C;
    color: #FFFFFF;
    border: 1px solid #CA9F5C;
    padding: 3% 13%;
}
.subcribe{
    margin-top: 6%;
}
.texttech{
    padding: 12% 15% 12%;
    box-shadow: rgb(0 0 0 / 7%) 0px 0px 40px;
}
.texttech h3{
    color: #CA9F5C;
}
.prebuilon{
    padding: 3%;
}
.singleblog{
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow: hidden;
}
.blogtext h4{
    padding: 3%;
}
.singleblog a:hover{
    filter: brightness(75%);
}
.customsingle{
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow: hidden;
}
.custom2 p{
    padding: 3%;
}
.texttech .black{
    color: #fff;
}






.main-content{
    margin-top: 50px;
    
}




.bgGRAY
{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: #e9ecef;

}

.bgWHITE{

    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: #fff;
}




.yac{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgba(62, 62, 62, 0.548) url(../images/sea-border.jpg);
    background-blend-mode: darken;


}
div.yac div.title-heading h2.textt{
    color: #fff;
    
}
div.yac div.title-heading div.PW{
    color: #fff;
    font-size: 1.1em;
}

.vpbm{
    color: #c49449;
    font-weight: bold;
    margin-top: 5%;
}



.bgblack{
    background: #212529;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
 }

 div.bgblack div.title-heading h2.textt{
    color: #fff;
    
}
div.bgblack div.title-heading div.PW{
    color: #fff;
    font-size: 0.9em;
}



 /* Footer */
 .in4-bg{
    background: #212529;
    


 }
 .in4-bg1{
   padding-top: 10%;
   padding-bottom: 10%;
   margin-top: 100px;
 }
 .i4{
    margin-bottom: 7%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
 }
 .i4-text{
    display: block;
    color: #CCCCCC;
    text-align: left;
    font-size: .875em;
    line-height: 2.2;
    text-rendering: auto;


 }
 .i4-link{
    color: #fff;
    text-decoration: none;
    line-height: 2.5;


 }
 a.i4-link:hover
 {
    color: #CA9F5C;
 }
 .i4-text-cu{
    line-height: 32px;
    color: #c1cccc;
 }
 .i4-text-cu1{
    display: block;
 }
 .icolor{
    padding: 10px;
    background: #CA9F5C;
    color: #fff;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 15px;
    
 }
 .test{
    background: #495057;
 }
 .icolor2{

    font-size: 3em;
    background: #fff;
    color: #CA9F5C;

    border-radius: 100%;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    
 }
.icolor3
 {
    font-size: 3em;
    background:  #fff;
    color: #000;
    padding: 10%;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .icolor4{

    font-size: 3em;

    color: #CA9F5C;

    border-radius: 100%;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    
 }
 .in4-bg2
 {
    background: #000;
    color: #c1cccc;
    padding-top: 22px;
    padding-bottom: 22px;

 }
.cpn{
    font-weight: unset;
    color: white;
 }
 .icon
 {
    text-align: right;
    margin-right: 5%;
 }
.icon-font{
    margin-right: 5%;
    color: #fff;
}

.img-b1{
    text-align: right;
    margin-bottom: 15px;
}
.img-b2{
    text-align: left;
    margin-bottom: 15px;
}
.btn-howto{
    display: inline-block;
    padding: 15px 40px;
    color: #fff;
    background: #c49449;
    
    text-decoration: none;
    border: none;
}
.midd{
    text-align: center;
}
a:hover {
    color: #fff;
    background: #a9803dfe;
}
.texttech a.btn-howto{

    background:  #212529;
    color: #000;

}
.texttech a.btn-howto div.i4-text-cu i.icolor3:hover {
    background: #c49449;
    color: #fff;
}

.icon-1{
    margin-bottom: 3%;
}


.black-icon{

    font-size: 1.5em;

    color: #CA9F5C;
    background: #000;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20%;
}

    
